.container
{
    display: flex;
    margin: 0 auto;
    width: 600px;
    height: 400px;  
    justify-content: space-between;
}
button
{
    height: 100%;
    width: 50%;
}
#status
{
    height: 500px;
    width: 600px;
}
